<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расписание</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 50px;
        }
        .table th, .table td {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center mb-4">Расписание</h2>
    <p>Добро пожаловать на страницу расписания колледжа!</p>
    <p><a href="{{ url_for('login') }}">Войти в админ-панель</a></p>
    <p>Просмотреть расписание на:
        <form method="get" action="{{ url_for('index') }}">
            <input type="date" name="date" required>
            <button type="submit">Показать</button>
        </form>
        
    </p>
    <div class="container">
        <h2 class="text-center mb-4">Расписание на день</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>День недели</th>
                    <th>Номер урока</th>
                    <th>Предмет</th>
                    <th>Время начала</th>
                    <th>Время конца</th>
                </tr>
            </thead>
            <tbody>
                {% for session in schedule %}
                    <tr>
                        <td>{{selected_day}}</td>
                        <td>{{session.n_lesson}}</td>
                        <td>{{ session.subject }}</td>
                        <td>{{ session.start_time }}</td>
                        <td>{{ session.end_time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
